@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(165, 42, 89);
}

.bg_silver {
    background-color: silver;
}

.border_rad_20px {
    border-radius: 20px;
}

.border_b_gray {
    border-bottom: 2px solid gray;
}

.btn-basic-style {
    border: none;
    border: 1px solid gray;
    padding: 10px;
    color: rgb(165, 42, 89);
    font-weight: bold;
    transition: all 0.2s;
}

.btn-basic-style:hover {    
    border: 1px solid orange;
}

#section-2 label {
    color:rgb(165, 42, 89);
    font-size: large;
}

#section-2 input, #section-2 select {
    border: 1px solid rgb(165, 42, 89);
}